// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

@import "sanfrancisco-font";

$primary-background: #fae755;
$primary-background-transparent: rgba(253,242,98,0.8);
$secondary-background: #FCB1A8;
$text-color: #4A4A4A;

body {
  background: $primary-background;
  color: $text-color;
  min-width: 320px;
  line-height: 1.8;
  font-size: 16px;
  font-weight: 200;
}
a {
  color: $text-color;
}
p > a {
  border-bottom: 1px dashed $text-color;
  &:hover {
    color: black;
    border-bottom-color: black;
    text-decoration: none;
  }
}
strong {
  font-weight: 500;
  white-space: nowrap;
}
h2 {
  font-size: 36px;
  margin: 40px 0;
  font-weight: 200;
}
h3 {
  font-size: 24px;
  margin: 14px 0 24px 0;
  font-weight: 200;
  line-height: 1.8;
}
h4 {
  font-size: 16px;
  margin: 40px 0 0 0;
  font-weight: 600;
  line-height: 1.8;
}
.navbar {
  background: $primary-background;
}
.navbar-nav {
  margin-left: 0;
  margin-right: 0;
  & > li > a {
    padding-bottom: 18px;
    padding-top: 18px;
  }
}
.navbar-brand {
  text-indent: -999999px;
  background: url(../assets/logo.svg) 15px 15px no-repeat;
  width: 149px;
  height: 89px;
  display: inline-block;
}
.navbar-toggle {
  margin: 0;
  padding: 15px;
}
#navbar {
  font-size: 16px;
  padding: 15px 0 0 0;
}
.navbar-toggle .icon-bar {
  background-color: $text-color;
}

.nav > li > a:hover, .nav > li > a:focus {
  background: none;
  color: $text-color;
  text-decoration: underline;
}
nav > .container {
  padding-bottom: 0;
}

.beetle {
  margin: 80px 0 0 0;
  text-align: center;

  img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}
.appstore-button {
  background: url(../assets/app_store_button_128.png) 0 0 no-repeat;
  width: 128px;
  height: 40px;
  display: block;
  margin: 60px auto 0 auto;
  text-indent: -999999px;
}

.pink-container {
  background: $secondary-background;
}

.container {
  max-width: 900px;
  overflow: auto;
  padding-bottom: 80px;
}
.pink-wide-container {
  width: 100%;
  background-color: $secondary-background;
}
//Carousel
#about-bibika {
  width: 100%;

#myCarousel {
  max-width: 1200px;
  $width: 100%;
  $height: $width * 0.675;
  $side-padding: $width * 0.08;
  $vertical-padding: $width * 0.025;
  $bottom-margin: 54px;
  width: $width;
  height: $height;
  background: white;
  border-radius: 3.5%/5%;
  // border-radius: ($width * 0.039)/($height * 0.051) ($width * 0.039)/($height * 0.051) ($width * 0.039)/($height * 0.051) ($width * 0.039)/($height * 0.051);
  border: 2px solid $text-color;
  padding: $vertical-padding $side-padding;
  box-sizing: padding-box;
  margin: 0 auto $bottom-margin auto;

  &::before {
    $home-button-width: $width * 0.049;
    $home-button-height: $width * 0.0725;
    box-sizing: border-box;
    content: "";
    width: $home-button-width;
    height: $home-button-height;
    border-radius: 50%;
    border: 2px solid $text-color;
    position: absolute;
    top: 50% - $home-button-width/2;
    right: ($side-padding - $home-button-width)/2;
    display: block;
  }

  .carousel-inner {
    background: white;
    height: 100%;
  }
  .carousel-indicators {
    $padding: 14px;
    position: absolute;
    padding: $padding 0;
    bottom: -($bottom-margin);

    li {
      $bullet-size: 10px;
      width: $bullet-size;
      height: $bullet-size;
      box-sizing: border-box;
      border-color: $text-color;
      margin: 0 6px;
      &.active {
        background-color: $text-color;
        width: $bullet-size;
        height: $bullet-size;
      }
    }
  }
  .item > img {
    width: 100%;
  }
}
}

//Creators

.portrait {
  margin: 0 auto 10px auto;
  display: block;
}
.creator {
  margin-bottom: 70px;
}
#special-thanks a{
  font-weight: 500;
}

//Footer

footer {
  $text: rgba(255,255,255,0.7);
  background-color: $text-color;
  color: $text;
  text-align: center;
  font-weight: 100;
  letter-spacing: 1px;
  padding: 20px 0;
  ul {
    margin-bottom: 20px;
  }
  a {
    color: $text;
    font-weight: 100;
    &:hover {
      color: $text
    }
    &.logo {
      margin: 20px;
    }
  }
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  // #myCarousel {
  //   $width: 290px;
  //   $height: 196px;
  //   $side-padding: $width * 0.08;
  //   $vertical-padding: $width * 0.025;
  //   $bottom-margin: 54px;
  //   width: $width;
  //   height: $height;
  //   background: white;
  //   border-radius: $width * 0.039;
  //   border: 2px solid $text-color;
  //   padding: $vertical-padding $side-padding;
  //   box-sizing: padding-box;
  //   margin: 0 auto $bottom-margin auto;
  //
  //   &::before {
  //     $home-button-size: $width * 0.049;
  //     box-sizing: border-box;
  //     content: "";
  //     width: $home-button-size;
  //     height: $home-button-size;
  //     border-radius: 50%;
  //     border: 2px solid $text-color;
  //     position: absolute;
  //     top: $height/2 - $home-button-size/2;
  //     right: ($side-padding - $home-button-size)/2;
  //     display: block;
  //   }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 600px) {
  footer {

    padding: 40px 0;
    ul {
      max-width: 1200px;
      margin-bottom: 40px;
      margin: 0 auto 40px auto;
      li {
        display: inline-block;
        margin: 0 2%;
      }
    }
    a {
      &.logo {
        margin: 40px;
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
